<header class="shadow-sm">
    <div class="container mx-auto">
        <div class="navbar">
            <div class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                        <% if(typeof isLoggedIn != 'undefined' && isLoggedIn){ %>
                            <li><a href="/projects">Projects</a></li>
                            <!-- <li><a href="/profile">Profile</a></li> -->
                            <li><a href="/pro/logout">Logout</a></li>
                        <% } else { %>
                            <li><a href="/pro/register">Sign Up</a></li>
                            <li><a href="/pro/login">Log In</a></li>
                            <li><a href="/">Join Homeowners</a></li>
                        <% } %>
                    </ul>
                </div>
                <a href="/pro">
                    <div class="font-title text-primary inline-flex text-lg md:text-3xl">
                        <span>Home</span> 
                        <span class="text-base-content">Projects</span>
                    </div>
                </a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal p-0">
                    <% if(typeof isLoggedIn != 'undefined' && isLoggedIn){ %>
                        <li><a href="/pro/projects">Projects</a></li>
                        <!-- <li><a href="/pro/profile">Profile</a></li> -->
                        <li><a href="/pro/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/pro/register">Sign Up</a></li>
                        <li><a href="/pro/login">Log In</a></li>
                        <li><a href="/">Join Homeowners</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</header>