<header>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <div class="container">
            <a href="#" class="navbar-brand"><img class="mw-10" src="/images/logo.png" alt="HomeServices"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-2">
                        <a href="/service" class="nav-link">Find Pros</a>
                    </li>
                    <% if(typeof isLoggedIn != 'undefined' && isLoggedIn){ %>
                    <li class="nav-item px-2">
                        <a href="/login" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item px-2">
                        <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/login" class="nav-link">Log In</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/join" class="btn btn-primary">Join Pros</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>