<div class="hero py-10">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/images/hero-bg.jpg" class="md:max-w-lg rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Find The Right Pro For Your Home Projects</h1>
        <p class="py-6">If you're looking for pros for your home projects, look no further! <span class="font-bold">HomeProjects</span> makes it easy for you to connect with skilled professionals in your neighborhood who are dedicated to providing quality home service.</p>
        <a href="/pro/register" class="btn btn-primary">Get Started</a>
      </div>
    </div>
</div>